.page__wrapper {
    padding: 0 0 3rem 0; 
}

.post {
    padding: 2rem;
    margin: 0 auto; 
    max-width: 800px;
    display: flex;
    flex-direction: column; 
    gap: 2rem; 
}

.post__header {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    gap: 1rem;   
}

.post__publisher {
    max-width: 50px; 
    height: auto; 
}

.post__section {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;  
}

.post__section-sub-heading {
    margin-top: 2rem; 
}

.post-cta__button {
    display: flex;
    flex-direction: column; 
    align-content: center; 
}