 <footer>
            <div id="footer-icon-container">
                <picture>
                    <a href="https://www.instagram.com/behosted__/" target="_blank">
                        <img src="/images/icons/instagram-white.svg" loading="lazy" fetchpriority="low" alt="White Instagram logo"></a>
                </picture>

                <picture>                
                    <a href="https://uk.pinterest.com/behosted__/?invite_code=52e2255345c94059b758c4d0b4b48a83&sender=1014154547247231404" target="_blank">
                        <img src="/images/icons/pinterest-white.svg" loading="lazy" fetchpriority="low" alt="White Tik Tok logo"></a>
                </picture>

                <picture>                
                    <a href="https://www.tiktok.com/@behosted__" target="_blank">
                        <img src="/images/icons/tiktok-white.svg" loading="lazy" fetchpriority="low" alt="White Tik Tok logo"></a>
                </picture>

                <picture>
                     <a href="mailto:contactbehosted@gmail.com" target="_blank">
                        <img src="/images/icons/email-white.svg" loading="lazy" fetchpriority="low" alt="White email icon"></a>
                </picture>
            </div>
        </footer>